<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>items</key>
		<array>
			<string>test_01_2.jpg</string>
			<string>test_01_1.jpg</string>
			<string>test_01_3.jpg</string>
			<string>test_01_4.jpg</string>
		</array>
	</dict>
</array>
</plist>
