<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app</key>
	<dict/>
	<key>gif</key>
	<dict>
		<key>directory</key>
		<string>storage</string>
	</dict>
	<key>giphy</key>
	<dict>
		<key>host</key>
		<string>https://api.giphy.com</string>
		<key>random</key>
		<string>/v1/gifs/random?</string>
		<key>trending</key>
		<string>/v1/gifs/trending?</string>
		<key>var_limit</key>
		<string>&amp;limit=</string>
		<key>var_offset</key>
		<string>&amp;offset=</string>
		<key>var_api_key</key>
		<string>&amp;api_key=</string>
		<key>api_key</key>
		<string>028183773f20455685444fa490ae3734</string>
		<key>download_prefix</key>
		<string>https://media.giphy.com/media/</string>
		<key>download_suffix</key>
		<string>/giphy.mp4</string>
	</dict>
</dict>
</plist>
